<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<?= MAPS_API_KEY ?>"></script>
  </head>

  <body>
    <div id="toast-area" class="container"></div>
    <div id="app" class="container">
      <h1 class="page-header">
        <small>次は</small>
        <editable-text v-model="users[default_payer]"></editable-text>
        <small>が払うのがよさそう (-{{ Math.abs(amountDiff) }})</small>
      </h1>

      <div class="panel panel-default">
        <div class="panel-heading">払う</div>
        <div class="panel-body">
          <p>
            <div class="form-inline">
              <div class="form-group">
                <div class="input-group">
                  <select class="form-control" v-model="payer">
                    <option value="0">{{ users[0] }}</option>
                    <option value="1">{{ users[1] }}</option>
                  </select>
                  <span class="input-group-addon">が</span>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" v-model="amount" />
                  <span class="input-group-addon">円</span>
                </div>
              </div>
              <button type="submit" class="btn btn-primary" @click="pay">払った</button>
            </div>
          </p>
          <div v-if="!!location" class="panel panel-default">
            <div class="panel-body">
              <label>位置情報</label>
              <google-map class="map" :markers="location_map_markers"></google-map>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Log</div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <td><editable-text v-model="users[0]"></editable-text></td>
                <td><editable-text v-model="users[1]"></editable-text></td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="entry in log">
                <td><span v-if="!entry.payer">{{ entry.amount }}</span></td>
                <td><span v-if="entry.payer">{{ entry.amount }}</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </body>

</html>

<!-- Component: Editable text -->

<template id="editable-text">
  <span>
    <form v-if="input !== null" class="form-inline">
      <div class="input-group">
        <input type="text" class="form-control" v-model="input" />
        <span class="input-group-btn">
          <button class="btn btn-default" @click="save">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
          </button>
        </span>
      </div>
    </form>
    <span v-else @click="edit">{{ value }}</span>
  </span>
</template>

<script>
Vue.component("editable-text", {
    template: "#editable-text",
    props: ["value"],
    data: function () {
        return { input: null };
    },
    methods: {
        edit: function () {
            this.input = this.value;
        },
        save: function (e) {
            this.$emit("input", this.input);
            this.input = null;
            e.preventDefault();
        }
    }
});
</script>

<!-- Component: Google Map -->

<template id="google-map">
  <div class="google-map">
  </div>
</template>

<style>
.google-map { height: 130px; max-width: 100%; }
</style>

<script>
Vue.component("google-map", {
    template: "#google-map",
    props: ["markers"],
    data: function () {
        return { map_obj: null, marker_objs: [] };
    },
    watch: {
        markers: function () {
            this.sync_markers();
        },
    },
    mounted: function () {
        this.map_obj = new google.maps.Map(this.$el, {
            center: { lat: 0, lng: 0 },
            maxZoom: 18,
            zoom: 18,
        });
        this.sync_markers();
    },
    methods: {
        sync_markers: function () {
            var self = this;
            var bounds = new google.maps.LatLngBounds();
            for (var i = 0; i < this.marker_objs.length; i++){
                this.marker_objs[i].setMap(null);
            }
            this.marker_objs = this.markers.map(function (location) {
                var pos = new google.maps.LatLng(location.lat, location.lng);
                bounds.extend(pos);
                return new google.maps.Marker({ map: self.map_obj, position: pos });
            });
            this.map_obj.fitBounds(bounds);
        }
    }
});
</script>

<!-- App -->

<style>
#toast-area { position: fixed; width: 100%; left: 0px; top: 0px; z-index: 10; }
.toast { margin: 10px 0px 0px auto; width: 250px; }
</style>

<script>
function toast (message, type) {
    $("<div class='toast alert alert-" + (type || "info") + "'>" + message + "</div>")
        .appendTo("#toast-area").hide().fadeIn(300).delay(2000).hide(300, function () {
            $(this).remove();
        });
}

function callApi () {
    return google.script.run.withFailureHandler(function (e) {
        toast(e.message, "danger");
    });
}

new Vue({
    el: "#app",
    data: {
        users: ["-", "-"], amountDiff: 0, log: [],
        /* input */
        payer: 0, amount: 0, location: null
    },
    computed: {
        location_map_markers: function () {
            return [this.location];
        },
        default_payer: function () {
            return this.amountDiff < 0 ? 1 : 0;
        }
    },
    created: function () {
        this.initialize();
        this.getGeolocation();
    },
    methods: {
        getGeolocation: function () {
            if (navigator.geolocation) {
                var self = this;
                navigator.geolocation.getCurrentPosition(function (res) {
                    self.location = { lat: res.coords.latitude, lng: res.coords.longitude };
                    toast("位置情報を取得しました");
                }, function (res) {
                    self.location = null;
                    toast("位置情報の取得に失敗しました", "danger");
                });
            } else {
                this.location = null;
                toast("位置情報の取得に失敗しました", "danger");
            }
        },
        resetInput: function () {
            this.payer = this.default_payer;
            this.amount = 0;
        },
        initialize: function () {
            var self = this;
            callApi().withSuccessHandler(function (res) {
                self.users = res.users;
                self.log = res.log;
                self.amountDiff = res.amountDiff;
                self.resetInput();
                toast("同期しました");
                self.$watch("users", function () { this.saveConfigurations(); });
            }).doFetchLastState();
        },
        saveConfigurations: function () {
            callApi().withSuccessHandler(function () {
                toast("設定を保存しました", "success");
            }).doSaveUsernames(this.users);
        },
        pay: function () {
            var self = this;
            var amount = parseInt(this.amount);
            callApi().withSuccessHandler(function (res) {
                self.log = res.log;
                self.amountDiff = res.amountDiff;
                self.resetInput();
                toast("ログを保存しました", "success");
            }).doPay(this.payer, amount, this.location);
        }
    }
})
</script>
