<!DOCTYPE html>
<html>

  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=<?= MAPS_API_KEY ?>"></script>
  </head>

  <body>
    <div id="toast-area" class="container"></div>
    <div id="app" class="container">
      <h1 class="page-header">
        <small>次は</small>
        <editable-text v-model="users[amountDiff < 0 ? 1 : 0]"></editable-text>
        <small>が払うのがよさそう (-{{ Math.abs(amountDiff) }})</small>
      </h1>

      <div class="panel panel-default">
        <div class="panel-heading">払う</div>
        <div class="panel-body">
          <p>
            <div class="form-inline">
              <div class="form-group">
                <div class="input-group">
                  <select class="form-control" v-model="payer">
                    <option value="0">{{ users[0] }}</option>
                    <option value="1">{{ users[1] }}</option>
                  </select>
                  <span class="input-group-addon">が</span>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <input type="text" class="form-control" v-model="amount" />
                  <span class="input-group-addon">円</span>
                </div>
              </div>
              <button type="submit" class="btn btn-primary" @click="pay">払った</button>
            </div>
          </p>
          <div v-if="!!location" class="panel panel-default">
            <div class="panel-body">
              <label>位置情報</label>
              <google-map class="map" :lat="35.658034" :lng="139.701636"></google-map>
            </div>
          </div>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">Log</div>
        <div class="panel-body">
          <table class="table">
            <thead>
              <tr>
                <td><editable-text v-model="users[0]"></editable-text></td>
                <td><editable-text v-model="users[1]"></editable-text></td>
              </tr>
            </thead>
            <tbody>
              <tr v-for="entry in log">
                <td><span v-if="!entry.payer">{{ entry.amount }}</span></td>
                <td><span v-if="entry.payer">{{ entry.amount }}</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </body>

</html>

<!-- Style -->

<style>
#toast-area { position: fixed; width: 100%; left: 0px; top: 0px; z-index: 10; }
.toast { margin: 10px 0px 0px auto; width: 250px; }
.map { height: 130px; max-width: 100%; }
</style>

<!-- Component: Editable text -->

<template id="editable-text">
  <span>
    <form v-if="input !== null" class="form-inline">
      <div class="input-group">
        <input type="text" class="form-control" v-model="input" />
        <span class="input-group-btn">
          <button class="btn btn-default" @click="save">
            <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span>
          </button>
        </span>
      </div>
    </form>
    <span v-else @click="edit">{{ value }}</span>
  </span>
</template>

<script>
Vue.component("editable-text", {
    template: "#editable-text",
    props: ["value"],
    data: function () {
        return {
            input: null
        }
    },
    methods: {
        edit: function () {
            this.input = this.value;
        },
        save: function (e) {
            this.$emit("input", this.input);
            this.input = null;
            e.preventDefault();
        }
    }
})
</script>

<!-- Component: Google Map -->

<script>
Vue.component("google-map", {
    template: "<div></div>",
    props: ["lat", "lng"],
    mounted: function () {
        new google.maps.Map(this.$el, {
            center: { lat: this.lat, lng: this.lng },
            zoom: 18
        });
    }
});
</script>

<!-- App -->

<script>
function toast (message, type) {
    $("<div class='toast alert alert-" + (type || "info") + "'>" + message + "</div>")
        .appendTo("#toast-area").hide().fadeIn(300).delay(2000).hide(300, function () {
            $(this).remove();
        });
}

function callApi () {
    return google.script.run.withFailureHandler(function (e) {
        toast(e.message, "danger");
    });
}

var vm = new Vue({
    el: "#app",
    data: {
        /* configurations */
        users: ["-", "-"], amountDiff: 0, log: [],
        /* input */
        payer: 0, amount: 0, location: null
    },
    created: function () {
        this.initialize();
        this.getGeolocation();
    },
    methods: {
        getGeolocation: function () {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function (res) {
                    vm.location = { lat: res.coords.latitude, lng: res.coords.longitude };
                    toast("位置情報を取得しました");
                }, function (res) {
                    vm.location = null;
                    toast("位置情報の取得に失敗しました", "danger");
                });
            } else {
                this.location = null;
                toast("位置情報の取得に失敗しました", "danger");
            }
        },
        resetInput: function () {
            this.payer = this.amountDiff < 0 ? 1 : 0;
            this.amount = 0;
        },
        initialize: function () {
            callApi().withSuccessHandler(function (res) {
                vm.users = res.users;
                vm.log = res.log;
                vm.amountDiff = res.amountDiff;
                vm.resetInput();
                toast("同期しました");
                vm.$watch("users", function () { this.saveConfigurations(); });
            }).doFetchLastState();
        },
        saveConfigurations: function () {
            callApi().withSuccessHandler(function () {
                toast("設定を保存しました", "success");
            }).doSaveUsernames(this.users);
        },
        pay: function () {
            var amount = parseInt(this.amount);
            callApi().withSuccessHandler(function (res) {
                vm.log = res.log;
                vm.amountDiff = res.amountDiff;
                vm.resetInput();
                toast("ログを保存しました", "success");
            }).doPay(this.payer, amount, this.location);
        }
    }
})
</script>
